.toastsContainer {
  position: fixed;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1000;
}

.toast {
  background-color: #f3fdfa;
  border: 1px solid #00cf99;
  padding: 12px 16px;
  border-radius: 99px;
  color: #007c5c;
  font-weight: 600;
  font-size: 14px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInFromTop 0.3s ease-in-out forwards;
}

@keyframes fadeInFromTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
