.button {
  position: relative;
  font-family: "Inter", sans-serif;
  cursor: pointer;

  font-size: 14px;
  font-weight: 500;
  line-height: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--background-primary);
  border: none;
  color: #ffffff;

  transition: box-shadow 0.2s;
}

.button:hover {
  background-color: var(--background-primary);
  box-shadow: 0px 0px 0px 3px #bad1fc;
}

.button:disabled {
  background-color: #f5f5f5;
  color: #aaa;
  border-color: #eee;
  cursor: not-allowed;
}

.button:disabled img {
  opacity: 0.5;
}

.buttonSecondary {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.buttonSecondary:hover {
  background-color: #f5f5f5;
  box-shadow: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.buttonLoadingSpinner {
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}
