.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  padding: 24px 24px 32px 24px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
  box-sizing: border-box;
}

.cardShadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 144px;
  background-color: #fff;
  box-shadow: 0px -4px 12px 0px #e8f9e4;
  z-index: -1;
}

.cardGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 144px;
  background: linear-gradient(180deg, #e7f9e2 0%, #ffffff 100%);
  z-index: 0;
  border-radius: 12px;
}

.cardImage {
  width: 244px;
  height: 212px;
  object-fit: contain;
  position: relative;
}

.cardSubtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
}

.cardDescription {
  color: #585858;
  font-size: 14px;
  line-height: 20px;
}

.backLink {
  display: flex;
  justify-content: center;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  align-self: stretch;

  color: var(--text-color);
  font-weight: 400;
  text-decoration: none;
  margin-top: 16px;
  display: inline-block;
}

.docs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding-left: 12px;
  border-left: 1.5px solid var(--border-color);
}

.docsDescription {
  font-size: 12px;
  line-height: 16px;
  color: var(--text-secondary);
}

.docsLink {
  display: flex;
  gap: 8px;
  padding: 8px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  text-decoration: none;
  color: var(--text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-wrap: nowrap;
}

.docsLink strong {
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .content {
    width: 384px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    display: flex;
  }
  .cardFullWidth {
    display: none;
  }
}
