.paymentContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: fit-content;
  margin: 0 auto;
}

.submitButtonDisabled {
  filter: grayscale(100%) opacity(30%);
}

.submit:hover {
  background-color: #1762ee;
}

.submit:focus {
  box-shadow: 0px 0px 0px 3px #bad1fc;
  outline: none;
}

.xenditComponentContainer {
  width: 350px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingSpinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #1762ee;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
