:root {
  /* variables to style Xendit components */
  --xendit-font-family: Inter, sans-serif;
  --xendit-color-border: #e6e6eb;
  --xendit-color-text: #252525;
  --xendit-color-text-placeholder: #7d7d7d;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  color: #252525;

  --border-color: #e6e6eb;
  --background-color: #ffffff;
  --background-primary: #1762ee;
  --background-weak: #fafafa;
  --text-color: #252525;
  --text-secondary: #585858;
  --text-light: #7d7d7d;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  box-sizing: border-box;
}

button {
  position: relative;
  display: flex;
  color: black;
  background-color: var(--background-weak);
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  gap: 8px;
  font-family: "Inter", sans-serif;
}

button:hover {
  background-color: var(--border-color);
}

button:disabled {
  background-color: #f5f5f5;
  color: #aaa;
  border-color: #eee;
  cursor: not-allowed;
}

button:disabled img {
  opacity: 0.5;
}

select {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
