:root {
  /* variables to style Xendit components */
  --xendit-font-family: Inter, sans-serif;
  --xendit-color-border: #e6e6eb;
  --xendit-color-text: #252525;
  --xendit-color-text-placeholder: #7d7d7d;
}

html {
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  color: #252525;

  --border-color: #e6e6eb;
  --background-color: #ffffff;
  --background-primary: #1762ee;
  --background-weak: #fafafa;
  --text-color: #252525;
  --text-secondary: #585858;
  --text-light: #7d7d7d;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  margin-bottom: 24px;
  box-sizing: border-box;
}
